body {
    display: flex;
    flex: 0 1 auto;
    border: none;
    margin: 15px;
    border: 2px solid;
    color: rgb(0, 0, 0);
    background-color: rgb(131, 131, 131);
}

.avatar {
    width: 200px;
    height: 130px;
    border-radius: 50%;
}


.left {
    width: 50%;
    padding-left: 20px;
    padding-top: 20px;
}

.right {
    width: 50%;
}

.userName {
    display: flex;
    flex-direction: row;
    border: solid 2px;
    border-color: rgb(0,0,0);
    background-color: rgb(194, 194, 194);
    margin-right: 150px
}

.profileName {
    padding-top: 25px;
    padding-left: 15px;
}

.usermenu {
    display: flex;
    flex-direction: rows;
    border: solid 2px;
    border-color: rgb(0,0,0);
    background-color: rgb(194, 194, 194);
    margin-top: 25px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 505px;
}

.envelope {
    height: 55px;
    width: 55px;
}

.add {
    height: 55px;
    width: 55px;
}

.block {
    height: 55px;
    width: 55px;
}

/* Creating a new form */
.open-button {
    background-color: #555;
    color: white;
    padding: 15px 17px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup forum - hidden by default */
.forum-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    font-family: sans-serif;
}

.forum-container {
    width: 400px;
    height: 300px;
    padding: 10px;
    background-color: rgb(194, 194, 194);
}

    .forum-container input[type = title] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    .forum-container [name = "messageArea"] {
        width: 100%;
        height: 40%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        .forum-container input[type = title]:focus, .forum-container [name = "messageArea"]:focus {
            background-color: #ddd;
            outline: none;
        }

    .forum-container .button {
        background-color: rgb(129, 129, 129);
        color: white;
        padding: 16px 20px;
        border: none;
        width: 49%;
        margin-bottom: 10px;
        opacity: 0.8;
        text-align: center;
    }

/* Creating a new forum post */

.forumlist {
    display: flex;
    flex: right;
    flex-direction: column;
}

.flex-container {
    padding: 0;
    margin: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
}

.flex-item {
    padding: 15px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    margin-right: 15px;
    line-height: 150px;
    display: inline-block;
    text-align: center;
}

.forumpost {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    order: 3;
    background-color: rgb(194, 194, 194);
    padding: 10px;
    margin: 10px;
    width: 90%;
}

.envelope {
    height: 55px;
    width: 55px;
}

.add {
    height: 55px;
    width: 55px;
}

