.body{
    display: flex;
    flex: 0 1 auto;
    border: none;
    background: rgb(131, 131, 131);
    flex-direction: row;
}

.usermenu{
    flex-direction: column;
    float: left;
    background-color: rgb(194, 194, 194);
}
.avatar{
    width: 400;
    height: 500;
    background: rgb(131, 131, 131);

}